body {
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.buttons-episode-box {
  margin: 8rem auto;
}

.episode-list {
    /* margin-bottom: 20px; */
}

.episode-box {
    /* background-color: #4caf50!important; */
    /* margin: 10px; */
}

.episode {
    /* margin: 20px; */
}