.character-box {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  margin: 8rem auto;
}

.buttons-character-box {
  display: flex;
  margin: 2rem;
}

.character-button {
  background-color:  #4caf50!important;
}

.card {
  padding: 2em;
  display: flex ;
}

.character-id{
  margin: auto 2em;
}

.cards {
  display: flex;
  justify-content: center;
}

.character-card {
  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 0.87)!important;
  background-color: #242424!important;
  border: solid 0.1em;
  border-color: rgba(255, 255, 255, 0.87)!important;
}

.content {
  display: flex;
}