body {
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.episode-box {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  margin: 8rem auto;
}

.buttons-episode-box {
  display: flex;
  margin: 2rem;
}

.accordion {
  /* color: #242424!important; */
  background-color: rgba(255, 255, 255, 0.87)!important;
}

.episode-id {
  margin: auto 2em;
}

.episode-button {
  background-color: #4caf50!important;
}